<%-include('../includes/admin-header') %>
  <main>
    <h2>Settings</h2>

    <form class="general-settings" action="/admin/settings/generals" method="post">
      <div class="form-control">
        <label for="siteName">Site Name:</label>
        <input type="text" name="siteName" id="siteName" value="<%=siteName%>">
      </div>
      <div class="form-control">
        <label for="siteDesc">Site description:</label>
        <textarea name="siteDesc" id="siteDesc" maxlength="160"><%=siteDesc%></textarea>
      </div>
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <div class="form-buttons">
        <button class='button' type="submit">Save</button>
      </div>
    </form>
  </main>
<%-include('../includes/admin-footer') %>