<%- include('../../includes/admin-header') %>
  <main>
    <h2>List of Article Categories</h2>
  
    <a class="button" href="/admin/articles/add-category">Add New Category</a>
    <div class="content">
      <table>
        <colgroup>
          <col class="name">
          <col class="slug">
          <col class="amount">
          <col class="actions">
        </colgroup>
        <thead>
          <tr>
            <th>Category Name</th>
            <th>Category Slug</th>
            <th>Number of Articles</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% if (categories.length> 0) {%>
            <% for (let category of categories) {%>
              <tr>
                <td>
                  <%= category.category_name %>
                </td>
                <td>
                  <%=category.category_slug %>
                </td>
                <td>
                  <%=category.posts.length %>
                </td>
                <td>
                  <% if (category.id !== 1) { %>
                    <button class="table-options"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                    <ul class="table-options-list">
                      <li>
                        <a class="articles__item-delete" href="#">Delete</a>
                        <input type="hidden" name="categoryId" value="<%=category.id%>">
                      </li>
                    </ul>
                    
                  <% } %>
                </td>
              </tr>
              <% } %>
                <%} else {%>
                  <tr>
                    <td colspan="4">No categories</td>
                  </tr>
                  <% } %>
        </tbody>
      </table>
    </div>
    <%-include('../../includes/pagination') %>

  </main>

<%- include('../../includes/admin-footer') %>