<%- include('../includes/header', { metatags: [], links: [], scripts: [], }) %>
  <main>
    <h2>Enter new password</h2>
    <form class="login-form" action="/new-password" method="post">
      <div class="form-control">
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" autocomplete="new-password" required>
      </div>
      <div class="form-buttons">
        <input type="hidden" name="token" value="<%=token%>">
        <input type="hidden" name="userId" value="<%=userId%>">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <button class="button button-submit" type="submit">Confirm</button>

      </div>
    </form>
  </main>

  <%- include('../includes/footer', { scripts: [], }) %>